/** ========================================================================
                               Модификация css
 =========================================================================== */

.ag-shop-slider__item{
    position: relative;
}

.ag-shop-slider-card__likes{
    top: 45px;
    right: 36px;
    z-index: 9999;
}


.wish-on{
    background-position: 0 -432px;
}
.wish-off{
    background-position: 0 -456px;
}
.ag-shop-slider-card-dark__info-layer{
    background-repeat: no-repeat;
    background-size: cover;
}

div.filter-active{
    display: block;
}

.ag-shop-filter__variants{
    display:none;
}

#interests-filter::before{
    left: 50%;
}

#balls-filter::before{
    left: 85%;
}



#slider {
        width: 85%;
    float: left;
    margin-top: 16px;
}

input#ag-minPrice{
    text-align: center;
        width: 6%;
    float: left;
    border: 1px #888 solid;
    margin-right: 1%;
    margin-top: 5px;
    border-radius: 16px;

    font-family: 'SF UI Text', Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-size: 0.875rem;
    color: #0e2f4b;
    
    padding: 7px 20px;
}

input#ag-maxPrice{
    text-align: center;
        width: 6%;
    float: left;
    border: 1px #888 solid;
    margin-left: 1%;
    margin-top: 5px;
    border-radius: 16px;

    font-family: 'SF UI Text', Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-size: 0.875rem;
    color: #0e2f4b;
    
    padding: 7px 20px;
}

.tablebodytext{
    display: none;
}

input.ag-balls[type="radio"]{
    display: none;
}

.searchform input[type="text"]{
    background-image: url(../images/icon__search.svg);
    background-repeat: no-repeat;
    background-position: 10px 5px;
    padding-left: 48px;
    height: 40px;
    font-size: 0.8125rem;
    border: 1px #888 solid;
    border-radius: 20px;
}

.searchform input:focus{
     outline: none;
}

.points_pagination .ag-shop-profile-tabs__link{
    margin-left: 10px;
}

.ag-shop-card__image-container{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.ag-shop-card__preview{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.ag-shop-card__sizes-item{
    width: auto !important;
    padding: 0px 5px;
}

.form-success{
    color: #0eb0a0;
    text-align: center;
}

.ag-shop-profile-order__image-container{
    background-size: cover;
}

.ag-shop-footer{
}

.ag-shop-catalog{
    padding-bottom: 10px;
}
