# Игнорировать ядро битрикса (кроме файла обмена с 1С)
www/bitrix/*
!www/bitrix/admin/1c_exchange.php

# Игнорировать загруженные файлы
www/upload/*
!www/upload/1c_exchange*
!www/upload/1c_catalog*
www/upload/1c_exchange/logger/*
www/upload/1c_catalog/import_files/*

# Игнорировать файл с паролями и ключами
www/.integration/secret.inc.php

# Игнорировать файлы сессии
tmp/sessions/*

# Игнорировать логи
logs/*

# Игнорировать временные файл документации
www/docs/*.toc
www/docs/*.htoc
www/docs/*.log
www/docs/*.aux
www/docs/*.haux
www/docs/*.out
www/docs/*.pdf
www/docs/*.html
www/docs/*.png
www/docs/*.jpg
www/docs/manual/source/02_noauth_funcs/figures/*.pdf
www/docs/manual/source/04_auth_funcs/figures/*.pdf

# Игнорируем служебные пользовательские папки
.bash_history
.bash_logout
.viminfo
.local
.profile
.selected_editor
.cache
.config

# Игнорировать прочее
*.swp
*.swo
*.zip
*.tar
*.gz
*.tgz
*.tbz
*.bz2
*.backup
