bitrix/*
upload/*
!upload/1c_catalog
!upload/1c_exchange
desktop_app/*
eshop_app/*
auth/*
login/*
about/*
images/*
store/*
!bitrix/templates
bitrix/templates/*
!bitrix/templates/ag
!bitrix/templates/agnew
!bitrix/templates/.default
!bitrix/components/ag
!bitrix/.settings.php
.install/*
include/*
!include/check_store.php
.integration/secret.inc.php
