bitrix/*
!bitrix/templates
bitrix/templates/*
!bitrix/templates/ag
!bitrix/templates/.default
.install/config.ini
.install/tmp/*
!.install/tmp/README.txt
.install/screens/*
!.install/screens/README.md
