################################################################################
#  Базовый файл настройки. Не правьте его, а скопируйте под именем config.ini
################################################################################
[Bitrix]
# Прямая ссылка на архив дистрибутива Битрикса в формате tar.gz
# download_url = http://www.1c-bitrix.ru/download/business_encode_php5.tar.gz
# Имя пользователя админитратора Битрикс
# admin_login = admin
# Пароль администратора Битрикс
admin_password = 

[Git]
# Ссылка на репозиторий с которого будет создан клон
# repository_url = git@github.com:active-citizen/shop.1c.git
# Ветка, из которой будет всё слито
branch = master

[Hosting]
db_host = 
db_user = 
db_pass = 
db_name =
