.teaser-loading{
    opacity: 0.5;
}


.desktop-product.notInStock .desktop-product-link {
    cursor: pointer;
    z-index: 1;
}

.desktop-product.notInStock .desktop-product-badge{
    display: block;
}


    .ag-shop-footer{
        display:none;
    }

.ag-shop-slider h3{
    line-height: 1.2em;
}

.ag-shop-card__image-points{
    line-height: 1.7em;
}

.ag-shop-catalog{
    min-height: 100vh;
}
