@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(/bitrix/templates/ag/fonts/open_sans_light.ttf)}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'), local('OpenSans'), url(/bitrix/templates/ag/fonts/open_sans_normal.ttf)}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/bitrix/templates/ag/fonts/open_sans_600.ttf)}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(/bitrix/templates/ag/fonts/open_sans_700.ttf)}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(/bitrix/templates/ag/fonts/open_sans_light-italic.ttf)}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'), local('OpenSans-Italic'), url(/bitrix/templates/ag/fonts/open-sans_italic.ttf)}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/bitrix/templates/ag/fonts/open-sans_semibold-italic.ttf)}


div.ag-section-top{
    margin-bottom: 30px;
    clear: left;
}

div.ag-section-top a.bx_catalog_tile_img{
    width: 200px;
    height: 300px;
    margin: 10px;
    padding-top: 200px;
    font-size: 20px;
    color: #0EB0A0;
    text-align: center;
    background-size: auto 200px;
    background-position: 50% 0%;
    border: 1px transparent solid;
    line-height: 1.2;
    float: left;
}

a.ag-goods-tizer{
    width: 221px;
    height: 300px;
    line-height: 1.2;
    font-size: 20px;
    color: #0EB0A0;
    float: left;
    margin: 20px 50px 100px 0px;
    text-align: left;
}
    a.ag-goods-tizer div.ad-goods-measure{
        color: #444;
        text-align: left;
        font-size: 14px;
        margin: 10px 0px 0px 0px;
    }

div.ag-goods-picture{
    width: 221px;
    height: 221px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    position: relative;
    margin: 0px 0px 20px 0px;
}

    div.ag-goods-picture div.ag-good-price{
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 46px;
        background-color: #000;
        opacity: 0.6;
        text-align: center;
        color: #FFF;
        padding-top: 10px;
        font-size: 26px;
    }

div.ag-section-top a.bx_catalog_tile_img div{
    position: absolute;
    bottom: -18px;
}


div.ag-section-top h2.bx_catalog_tile_title a{
    color: #444;
    font-size: 32px;
}

.shop_rule_text{
    margin-bottom: 20px;
}

.myPointsBox_2{
    padding-bottom: 30px;
}

.myPointsBox_2 h3{
    margin: 0px;
    font-weight: bold;
}

div.ag-right-block{
    width: 150px;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    padding: 10px;
    min-height: 300px;
    float: right;
    margin-top: 0px;
}
    div.ag-right-block div.bx_catalog_item{
        width: 98% !important;
    }

    div.ag-right-block h4{
        text-align: center;
        background-color: #EEE;
    }
    
.bx_catalog_tile{
    float: left;
}

div.contentShopMain>div.row{
}

div.ag-basket-store-exists-title{
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    border-bottom: 1px #AAA solid;
}

table.ag-basket-store-exists-table{
    width: 100%;
}
    table.ag-basket-store-exists-table th{
        font-weight: normal;
        border-bottom: 1px #AAA solid;
        text-align: center;
    }


    table.ag-basket-store-exists-table .mfc{
    }

    table.ag-basket-store-exists-table td.amount{
        width: 100px;
        text-align: center;
    }

div.ag-second-menu{
    border-bottom: 1px #CCC solid;
    padding: 10px;
}
    
    
    div.ag-second-menu a{
        margin: 0px 30px;
    }
