.main-info-message{
    margin-top: 0px;
}
.close-pic{
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(/local/assets/images/icons.svg);
    background-size: 102px auto;
    background-position: 0px -458px;
    cursor: pointer;
}
.close-pic:hover{
    background-position: 0px -474px;
}

@media (max-width: 460px) {
    .main-info-message{
        margin-top: 46px;
    }
}

.mobile-product-item-favourite{
    z-index: 100;
}

/********* Для работы сердечек********/
.mobile-product-item{position:relative;}
/*.wish-on{background-image: url(/local/templates/agshop_mobile/img/icon__product-favourite--pink.svg);}
.wish-off{background-image: url(/local/templates/agshop_mobile/img/icon__product-favourite--grey.svg);}*/

/********* Для пагинации ********/
.more-button{

    max-width: 150px;
    height: 40px;
    margin: 20px auto;
    cursor: pointer;
    display: block;
    text-align: center;    
    padding: 10px 0;
    border: 1px solid rgba(0,122,108,1);
    border-radius: 20px;
    font-family: 'SF UI Text', Arial, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    color: rgba(0,122,108,1);
    text-decoration: none;
}

/********* Об отсутствии товаров по условию ********/
.empty-products-list{
    margin: 70px auto 20px auto;
    padding: 10px;
    text-align:center;
    color: #666;
    background-color: #F6F6F6;
    border: 1px #CCC solid;
    width: 80%;
}


