/** ========================================================================
                               Модификация css
 =========================================================================== */

.ag-shop-slider__item{
    position: relative;
}

.ag-shop-slider-card__likes{
    top: 45px;
    right: 36px;
    z-index: 9998;
}


.wish-on{
    background-position: 0 -432px;
}
.wish-off{
    background-position: 0 -456px;
}
.ag-shop-slider-card-dark__info-layer{
    background-repeat: no-repeat;
    background-size: cover;
}

div.filter-active{
    display: block;
}

.ag-shop-filter__variants{
    display:none;
}

#interests-filter::before{
    left: 50%;
}

#balls-filter::before{
    left: 85%;
}



#slider {
        width: 85%;
    float: left;
    margin-top: 16px;
}

input#ag-minPrice{
    text-align: center;
        width: 6%;
    float: left;
    border: 1px #888 solid;
    margin-right: 1%;
    margin-top: 5px;
    border-radius: 16px;

    font-family: 'SF UI Text', Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-size: 0.875rem;
    color: #0e2f4b;
    
    padding: 7px 20px;
}

input#ag-maxPrice{
    text-align: center;
        width: 6%;
    float: left;
    border: 1px #888 solid;
    margin-left: 1%;
    margin-top: 5px;
    border-radius: 16px;

    font-family: 'SF UI Text', Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    font-size: 0.875rem;
    color: #0e2f4b;
    
    padding: 7px 20px;
}

.tablebodytext{
    display: none;
}

input.ag-balls[type="radio"]{
    display: none;
}

.searchform input[type="text"]{
    background-image: url(../images/icon__search.svg);
    background-repeat: no-repeat;
    background-position: 10px 5px;
    padding-left: 48px;
    height: 40px;
    font-size: 0.8125rem;
    border: 1px #888 solid;
    border-radius: 20px;
}

.searchform input:focus{
     outline: none;
}

.points_pagination .ag-shop-profile-tabs__link{
    margin-left: 10px;
}

.ag-shop-card__image-container{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.ag-shop-card__preview{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.ag-shop-card__sizes-item{
    width: auto !important;
    padding: 0px 5px;
}

.form-success{
    color: rgba(0,122,108,1);
    text-align: center;
}

.ag-shop-profile-order__image-container{
    background-size: cover;
}

.ag-shop-footer{
}

.ag-shop-catalog{
    padding-bottom: 10px;
}

#common-feedback-form{
    z-index: 9900;
}

#input-ordernum{
    width: 100%;
    height: 31px;
}

.ag-shop-filter__confirm{
    padding: 4px 0px;
}

.ag-shop-item-card{
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.ag-shop-slider-card__info{
    width: 260px;
    max-width: 50%;
}

.ag-shop-rules__spoiler-link span{
    font-weight: normal;
}

.screen-blocker{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    z-index: 9998;
    opacity: 0.7;
}

.auth-loader{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 80px;
    margin-top: -40px;
    margin-left: -100px;
    background-color: white;
    z-index: 9998;
    border: 1px #aaa solid;
    border-radius: 10px;
    background-image: url(/local/assets/images/loader1.gif);
    background-position: 50% 35%;
    background-size: 300px;
    background-repeat: no-repeat;
}

.ag-shop-sidebar__logo{
    background-size: 40% !important;
}

.ag-shop-nav__link--active, .ag-shop-footer__copy{
    background-color: rgba(0,122,108,1) !important;
    cursor: pointer;
}

.ag-shop-footer__links{
    background-color: rgba(0,122,108,0.9) !important;
}

.next-page, 
.ag-shop-catalog__more-button,
.ag-shop-profile-order__points,
.ag-shop-menu__link--active, 
.ag-shop-item-card__name,
.ag-shop-card__header-title,
.ag-shop-card__total-points,
.ag-shop-card__count-number,
.ag-shop-modal__button--cancel
.ag-shop-rules__spoiler-link, 
.js-spoiler__link, 
.hash-navigation
{
    color: rgba(0,122,108,1) !important;
}

.next-page, 
.ag-shop-catalog__more-button,
.ag-shop-modal__button, 
.ag-shop-card__review-form-button, 
.ag-shop-card__submit-button,
.ag-shop-modal__button--cancel,
.ag-shop-modal__container
{
    border: 1px rgba(0,122,108,1) solid !important;
}

.ag-shop-modal__button, .ag-shop-card__review-form-button, .ag-shop-card__submit-button{
    background-color: rgba(0,122,108,1) !important;
}

.next-page, 
.ag-shop-catalog__more-button,
.ag-shop-modal__button--cancel{
    background-color: rgba(255,255,255,1) !important;
}



.ag-shop-filter__trigger, .ag-shop-filter__trigger--active{
    color: rgba(255, 194, 14, 1) !important;
    border-bottom: 1px dashed rgba(255, 194, 14, 1) !important;
}

.ag-shop-item-card__points{
    content: '';
    position: absolute;
    top: -80px;
    left: -82px;
    display: block;
    width: 180px;
    height: 150px;
    border-radius: 50%;
    background: rgb(255,194,4);
    z-index: 110;
    padding-left: 90px;
    padding-top: 80px;
}

h3.ag-shop-item-card__name{
    //text-shadow: 1px .5px .5px #ffffff;
    text-shadow: 0 0 3px rgba(0,0,0,0.4); 
    color: white !important;
    width: 300px;
}

a.ag-shop-item-card > h3.ag-shop-item-card__name{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 105;
}

.ag-shop-item-card__info > h3.ag-shop-item-card__name{
    display:none;
}

#rise-error{
    z-index: 9999;
}




.ag-shop-catalog__item{
    position: relative;
    z-index: 100;
}

.ag-shop-item-card-cover{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;
}

.feel_so_green{
//    background-image: linear-gradient(20deg, rgba(0,122,108,1) 2%,rgba(0,122,108,0.44) 40%,rgba(0,122,108,0.22) 60%,rgba(0,122,108,0) 100%) !important;
    background-image: linear-gradient(0deg, rgba(0,122,108,0.6) 2%,rgba(0,122,108,0.44) 10%,rgba(0,122,108,0.22) 20%,rgba(0,122,108,0) 30%) !important;
}
.feel_so_pink{
//    background-image: linear-gradient(20deg, rgba(239,77,148,1) 2%,rgba(239,77,148,0.44) 40%,rgba(239,77,148,0.22) 60%,rgba(239,77,148,0) 100%) !important;
    background-image: linear-gradient(0deg, rgba(239,77,148,0.6) 2%,rgba(239,77,148,0.44) 10%,rgba(239,77,148,0.22) 20%,rgba(239,77,148,0) 30%) !important;
}
.feel_so_yellow{
//    background-image: linear-gradient(20deg, rgba(255,194,14,1) 2%,rgba(255,194,14,0.44) 40%,rgba(255,194,14,0.22) 60%,rgba(255,194,14,0) 100%) !important;
    background-image: linear-gradient(0deg, rgba(161,164,169,0.6) 2%,rgba(161,164,169,0.44) 10%,rgba(161,164,169,0.22) 20%,rgba(161,164,169,0) 30%) !important;
}
.feel_so_blue{
//    background-image: linear-gradient(20deg, rgba(0,192,243,1) 2%,rgba(0,192,243,0.44) 40%,rgba(0,192,243,0.22) 60%,rgba(0,192,243,0) 100%) !important;
    background-image: linear-gradient(0deg, rgba(0,192,243,0.6) 2%,rgba(0,192,243,0.44) 10%,rgba(0,192,243,0.22) 20%,rgba(0,192,243,0) 30%) !important;
}




a.ag-shop-item-card:hover .ag-shop-item-card-cover{
    display:none;
}

a.ag-shop-item-card:hover h3.ag-shop-item-card__name{
    position: initial;
    display: block;
}

a.ag-shop-item-card:hover > h3.ag-shop-item-card__name{
    display:none;
}


.ag-shop-item-card__badges{
    //z-index: 120 !important;
}

.ag-shop-slider-card__points{
    background-color: rgba(255,194,14,1) !important;
}

input:checked + .ag-shop-filter__variants-item {
    background: #ffc20e !important;
    border: 1px solid #ffc20e !important;
}

.ag-shop-slider-card__points-count{
    margin-top: -15px;
}

.ag-shop-slider-card__points-text{
    display: block;
}

.ag-shop-slider-card__points::before{
}

.ag-shop-slider-card__points-count{
//    font-size: 38px;
}

.ag-shop-slider-card__points-text{
//    font-size: 18px;
}

.ag-shop-slider-card, .ag-shop-slider-card-dark{
    background-repeat: no-repeat;
    background-position: 100%  100%;
    background-size: contain;
}

.ag-shop-card__image-info div.ag-shop-card__image-points{
    content: '';
    position: absolute;
    top: -102px;
    left: -92px;
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: rgba(255,194,14,1);
    padding-top: 90px;
    padding-left: 60px;
}

.ag-shop-profile-tabs__link{
    display: inline;
}


.ag-shop-modal__container .error{
    margin: 10px;
    text-align: center;
    border: 1px red solid;
    padding: 10px;
    background-color: #FDD;
    border-radius: 8px;
}

div.ag-shop-menu{
    position:relative;
/*    z-index: 9999; */
}


.ag-shop-card__image-badges{
    margin-top: 64px !important;
}

.ag-shop-menu__items{
    z-index: 9999 !important;
}


.ag-shop-menu__button{
    background-image: url(/local/assets/images/menu-open-but.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
}

.ag-shop-menu__button--close{
    background-image: url(/local/assets/images/menu-close-but.png);
}

.ag-shop-modal__button{
    width: 220px;
}


a.ag-shop-mob-nav{
    height: 24px;
    background-color: rgba(12,142,130,1);
    color: #fff;
    font-family: 'SF UI Text', Arial, sans-serif;
    font-size: 0.8rem;
    text-align: left;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9998;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-left: 36px;
    border-bottom: 1px rgba(12,142,130,1);
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
    text-decoration: none;
    width: 100%;
}


div.ag-shop-mob-nav{
    height: 24px;
    background-color: rgba(12,142,130,1);
    color: #fff;
    font-family: 'SF UI Text', Arial, sans-serif;
    font-size: 0.8rem;
    text-align: left;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9998;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-left: 36px;
    border-bottom: 1px rgba(12,142,130,1);
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
}

div.ag-shop-mob-nav:before{
    content:"";
    display:block;
    height:36px;
    position:absolute;
    right:0px;
    top: 0px;
    width: 36px;
    background-image:linear-gradient(
        90deg, 
        rgba(12,142,130, 0), 
        rgba(12,142,130,1)
    );
    float: right;
}
 
.ag-shop-mob-back{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 10px;
    background-color: rgba(12, 142,130,1);
    background-image: url(/local/assets/images/back-arrow.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.ag-shop-mob-top-spacer{
    height: 28px;
}

div.ag-shop-mob-title{
    position: absolute;
    z-index: 9997;
}

.ag-shop-filter__filters{
    position: relative;
}

.filter-clear{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
    background-image: url(/local/assets/images/icons.svg);
    background-repeat: no-repeat;
    background-position: 0 -645px;
    cursor: pointer;
    background-size: 600%;
}

/*
.filter-clear:hover{
    background-position: 0 -890px;
}
*/

    .item-articles{
        display: none;
    }


@media (max-width: 460px) {
    .item-articles{
        display: block
    }

    .ag-menu-breaker{
        border-top: 1px #000 solid;
        margin: 5px;
        height: 1px;
    }
    .ag-shop-menu__link{
        padding: 8px !important;
        width: 100%;
    }

    .ag-shop-menu__link:active::after, .ag-shop-menu__link--active::after{
        background: none;
    }

    .catalog-menu{
        width: 100%;
        margin: 0px;
    }

    .tags-menu{
        width: 100%;
        margin: 0px;
    }

    .desktop-filter{
        display: none;
    }

    table.catalog-menu-table{
        width: 100% !important;
    }

    table.catalog-menu-table td{
        width: 50%;
    }

    div.js-menu__list{
        width:200%;
    }

    .ag-shop-menu__header{
        padding-left: 10px;
        padding: right: 0px;
    }

    .ag-shop-menu__header h2{
        white-space: nowrap;
        overflow: hidden;
    }


    .scroll-fixed{
        position: fixed;
        top: 0px;
        z-index: 9998;
        background-color: white;
    }

    .scroll-absolute{
        position: absolute;
        z-index: 9998;
        background-color: white;
    }

    .ag-shop-content{
        padding-top: 30px;
    }

    .ag-shop-menu__link{
        overflow: hidden;
        white-space: nowrap;
    }

}

@media(min-width: 460px){
    .tags-menu{
        display: none;
    }
    .desktop-filter{
        display: none;
    }

    .ag-shop-content{
        padding-top: 10px;
    }
}



.catalog-item-loader{
    transition: 1s;
    opacity: 0.5;
}


.ag-shop-filter__variants{
    background: none;
}


.ag-shop-profile-order__mobile-controls .ag-shop-profile-order__icon{
}

.ag-shop-profile-order__mobile-controls .ag-shop-profile-order__control span{
    padding-left: 10px;
    font-size: 14px;   
}
