.partners-main{
    margin: 20px;
}
    
    .partners-main table{
        margin-top: 10px;
    }

    .partners-main tr:hover{
        background-color: #F4F4F4;
    }


    .partners-main th{
        text-align: center;
        vertical-align: middle !important;
        position: relative;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

        .partners-main th .partners-sort-down{
            position: absolute;
            top: 50%;
            height: 24px;
            margin-top: -12px;
            left: 0px;
            width: 20px;
            padding: 0px !important;
            border: 1px transparent solid;
            background-color: transparent;
        }
        .partners-main th .partners-sort-up{
            position: absolute;
            top: 50%;
            height: 24px;
            margin-top: -12px;
            right: 0px;
            width: 20px;
            padding: 0px !important;
            border: 1px transparent solid;
            background-color: transparent;
        }

.partners-menu{
    margin-bottom: 10px !important;
}

.td-date{
    text-align: center;
    vertical-align: middle !important;
}

.td-num{
    text-align: right;
    vertical-align: middle !important;
}

.td-status{
    text-align: center;
    vertical-align: middle !important;
}

.td-checkbox{
    text-align: center;
    vertical-align: middle !important;
}

.td-email{
    text-align: left;
    vertical-align: middle !important;
}
    .td-email a{
        color:inherit !important;
    }

.td-action{
    text-align: center;
    vertical-align: middle !important;
}

.td-product{
    text-align: left;
    vertical-align: middle !important;
}
    .td-product a{
        color:inherit !important;
    }

.td-section{
    text-align: left;
    vertical-align: middle !important;
}
    .td-section a{
        color:inherit !important;
    }

.td-phone{
    text-align: right;
    vertical-align: middle !important;
}
    .td-phone a{
        color:inherit !important;
    }




div.partners-date{
    width: 120px;
    position: relative;
}

.partners-date img{
    float: left;
    position: absolute;
    top: 7px;
    left: 5px;
}

.partners-date input{
    float: right;
    width: 120px;
    padding-left: 28px;  

}

.order-status-N{

}

.order-status-AG{
    background-color: #FDD !important;
}

.order-status-F{
    background-color: #DFD !important;
}

.order-status-AI{
    background-color: #EEE !important;
}


#filter-status{
    width: 80px;
    padding-left: 2px;
    padding-right: 2px;
}

#filter-storage{
    width: 50%;
    float: left;
}

#filter-man{
    width: 50%;
    float: left;
}







.partners-order-menu{
    float: left;
    width: 200px;
}

.partners-order-main{
    padding-top: 20px;
    padding-left: 220px;
}

.partners-order-main td.field-name{
    width: 250px;
}

#order-products{
    display:none;
}
#order-detail{
//    display:none;
}
#order-history{
    display:none;
}

#order-history table td{
    text-align: center;
}

.partners-product-photo{
    float: left;
    margin: 10px;
}

#order-products table{
    width: 98%;
}

#order-products .total{
    text-align: right;
    font-size: 24px;
}

#order-products .total-sum{
    text-align: right;
    font-size: 24px;
}

